:root {
--primary-color: #0a0a0a;
--secondary-color:#ffffff;
--text-color:#8c8c8c;

}
body{
    background-color: var(--primary-color);
    color :var(--secondary-color);
font-family: "Space Grotesk", sans-serif;}
main {
    margin-top:50px;
    margin-left:80px;
    margin-right: 80px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid  #1f1f1f;
}

a{
    text-decoration:none;
    color:var(--secondary-color);
    font-size: 12px;
    margin: 10px;
    color:var(--text-color);
}

.nav-links a:hover {
    color:var(--secondary-color);
}

.logo {
    background-color: var(--secondary-color);
    color:var(--primary-color);
    padding: 4px 6px;
    border-radius: 6px;
    font-weight: bold;
}

.theme-btn {
    background: transparent;
    color: var(--secondary-color);
    border: 1px solid #333;
    border-radius: 8px;
    padding: 6px 8px;
    cursor: pointer;
}

.hero-top{
    color:var(--text-color);
    font-size: 10px;
    margin-bottom: 0%;
}

h1{
    font-size: 110px;
    margin-top: 0%;
}

.build{
    color:var(--text-color);
}

.hero-description{
    color:var(--text-color)
}


.hero-buttons{
    margin-bottom: 30px;
    margin-top: 30px;

}

.btn-primary{
     border: 1px solid ;
    border-radius: 30px; 
    padding: 10px;
    background-color:var(--secondary-color) ;
    color: var(--primary-color);
    
}

.btn-secondary{
    border: 1px solid ;
    border-radius: 30px; 
    padding: 10px;
    background-color: var(--primary-color);
    color:var(--secondary-color);
    
}

.track{
    background-color: var(--secondary-color);
    color:var(--primary-color)
}

.circle-text{
    display:flex;
    justify-content: flex-end;
}

.hero {
  position: relative;
}


.circle-text {
  position: absolute;
  top: 0px;
  right: 80px;
  width: 150px;
  height: 150px;
}

.circle-text text {
  fill: #e4dcdc;
  font-size: 10px;
  letter-spacing: 4.5px;
}

.center-circle {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 40px;
  height: 40px;

  background: white;
  border-radius: 50%;

  transform: translate(-50%, -50%);
}

.black-dot {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 10px;
  height: 10px;

  background: black;
  border-radius: 50%;

  transform: translate(-50%, -50%);
}