* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #050505;
  color: white;
}

/* HERO */
.hero {
  min-height: 90vh;
  padding: 120px 10%;
  position: relative;
}

.hero-top {
  display: flex;
  gap: 15px;
  color: #777;
  font-size: 12px;
  letter-spacing: 5px;
  margin-bottom: 35px;
}

.hero-title {
  font-size: 110px;
  line-height: 0.9;
  font-weight: 900;
  margin-bottom: 35px;
}

.hero-subtitle {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 25px;
}

.hero-subtitle span:first-child {
  color: #777;
}

#changing-text {
  color: white;
  border-right: 3px solid white;
  padding-right: 5px;
}

.hero-description {
  max-width: 520px;
  color: #999;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 35px;
}

.hero-buttons {
  display: flex;
  gap: 18px;
}

.hero-buttons a {
  text-decoration: none;
  padding: 18px 28px;
  border-radius: 40px;
  font-weight: 700;
}

.btn-primary {
  background: white;
  color: black;
}

.btn-secondary {
  border: 1px solid white;
  color: white;
}

/* CERCLE À DROITE */
.hero-badge {
  position: absolute;
  top: 180px;
  right: 14%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rotateBadge 10s linear infinite;
}

.hero-badge span {
  font-size: 11px;
  letter-spacing: 4px;
  color: white;
  text-align: center;
}

.badge-center {
  position: absolute;
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 50%;
}

.badge-center::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* BARRE SKILLS */
.skills-marquee {
  width: 100%;
  overflow: hidden;
  background: white;
  color: black;
  display: flex;
  padding: 16px 0;
}

.skills-track {
  display: flex;
  gap: 35px;
  white-space: nowrap;
  min-width: 100%;
  animation: scrollSkills 18s linear infinite;
}

.skills-track span {
  font-size: 14px;
  font-weight: 800;
}

@keyframes scrollSkills {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero {
    padding: 100px 25px;
  }

  .hero-title {
    font-size: 65px;
  }

  .hero-subtitle {
    font-size: 25px;
  }

  .hero-badge {
    display: none;
  }

  .hero-buttons {
    flex-direction: column;
    width: fit-content;
  }
}